<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel=StyleSheet href="~/Resources/css/index/index.css" type="text/css" media=screen>
    
</head>
    <body id="body">
        <div id="ContainerHeader" style="color:yellow">
            <div id="logo">
                <img src="~/Resources/images/logo.png" width="170px" height="70px" />
            </div>
            <div id="containerItems1" style="color:white">
                <div id="carritoLogo" style="color:white">
                    <a href="#" style="text-decoration:none">Peliculas</a>
                </div>
                <div id="perfilLogo" style="color:white">
                    <a href="#">Series</a>
                </div>
                <div id="notifLogo" style="color:white">
                    <a href="#">Comunidad</a>
                </div>
            </div>
            <div id="containerItems2">
                <div id="buttonIngresar" style="margin-left:400px;">
                    <a href="#">Ingresar</a>
                </div>
                <div id="buttonRegistrar">
                    <a href="#">Regstrarse</a>
                </div>
            </div>
        </div>
        <div id="browser">
            <img id="lupaIcon" src="~/Resources/images/icons/lupa.png" height="25px" width="25px;" />
            <input id="inputBrowser" type="text" name="name" value="" style="border:none;width:1500px; height:35px;" placeholder="     Search Your Movie,Serie..." />
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
        <div id="footer" style="background-color:orange;">
            div 2
        </div>
   </body>
</html>