#popupReg > input {
    margin-top: 12px;
    border-radius: 13px;
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    
}

#popupReg {
    margin-left: 80px;

    
}

#btnReg {
    background-color: #0080ff;
    color: white;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-top: 44px;
    font-size: 15px;
    font-weight: bold;
    margin-left: -80px;
}
